/* line 4, D:/xampp/htdocs/Foodies/scss/styles.scss */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* line 10, D:/xampp/htdocs/Foodies/scss/styles.scss */
html {
  scroll-behavior: smooth;
}

/* line 14, D:/xampp/htdocs/Foodies/scss/styles.scss */
body {
  background-color: white;
  text-align: center;
  font-family: Poppins;
  overflow-x: hidden;
}

/* line 23, D:/xampp/htdocs/Foodies/scss/styles.scss */
header {
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: 0.6s;
  color: red;
  z-index: 1000;
  padding: 1% 7%;
}

/* line 35, D:/xampp/htdocs/Foodies/scss/styles.scss */
header .logo {
  position: relative;
  transition: 0.6s;
  font-size: 2rem;
}

/* line 40, D:/xampp/htdocs/Foodies/scss/styles.scss */
header .logo:hover {
  color: #FF9D02;
}

/* line 43, D:/xampp/htdocs/Foodies/scss/styles.scss */
header ul {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding: 0;
}

/* line 49, D:/xampp/htdocs/Foodies/scss/styles.scss */
header ul li {
  position: relative;
  list-style: none;
}

/* line 53, D:/xampp/htdocs/Foodies/scss/styles.scss */
header ul li a {
  position: relative;
  margin: 0 50px;
  padding: 0;
  text-decoration: none;
  letter-spacing: 2px;
  transition: 0.6s;
  font-size: 1.1rem;
  font-weight: 600;
}

/* line 63, D:/xampp/htdocs/Foodies/scss/styles.scss */
header ul li a:hover {
  color: #FF9D02;
}

/* line 73, D:/xampp/htdocs/Foodies/scss/styles.scss */
#cart-cont {
  display: flex;
  align-items: flex-end;
}

/* line 77, D:/xampp/htdocs/Foodies/scss/styles.scss */
header.sticky {
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

/* line 83, D:/xampp/htdocs/Foodies/scss/styles.scss */
h1, h2, h3, h4, h5, h6, a {
  font-weight: 700;
  color: #232323;
}

/* line 88, D:/xampp/htdocs/Foodies/scss/styles.scss */
p {
  color: #8E8E8E;
  font-size: 1.2rem;
  font-weight: 500;
  line-height: 2rem;
  width: 50%;
  margin: auto;
  text-align: center;
}

/* line 98, D:/xampp/htdocs/Foodies/scss/styles.scss */
a, ul {
  text-decoration: none;
  list-style-type: none;
}

/* BUTTONS */
/* line 104, D:/xampp/htdocs/Foodies/scss/styles.scss */
.btn-yellow {
  background-color: #FF9D02;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  display: inline-block;
  font-size: 16px;
  border-style: none;
  border-radius: 30px;
  color: white;
  font-weight: 700;
}

/* line 118, D:/xampp/htdocs/Foodies/scss/styles.scss */
.btn-yellow:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
}

/* line 123, D:/xampp/htdocs/Foodies/scss/styles.scss */
.btn-transparent {
  color: #FF9D02;
  background-color: transparent;
  border: 2px solid #FF9D02;
}

/* line 129, D:/xampp/htdocs/Foodies/scss/styles.scss */
.big-headings {
  font-size: 5rem;
}

/* line 132, D:/xampp/htdocs/Foodies/scss/styles.scss */
h2 {
  font-size: 3rem;
  width: 50%;
  margin: 100px auto;
}

/* NAVBAR  */
/* TITLE SECTION */
/* line 176, D:/xampp/htdocs/Foodies/scss/styles.scss */
#title {
  margin-top: 200px;
}

/* line 178, D:/xampp/htdocs/Foodies/scss/styles.scss */
#title p {
  margin: 50px 0;
  text-align: left;
}

/* line 184, D:/xampp/htdocs/Foodies/scss/styles.scss */
.title-row {
  text-align: left;
}

/* line 187, D:/xampp/htdocs/Foodies/scss/styles.scss */
.title-image {
  margin-left: 200px;
  width: 80%;
  transform: scaleX(-1);
}

/* Features section */
/* line 194, D:/xampp/htdocs/Foodies/scss/styles.scss */
#features-section {
  margin-bottom: 300px;
}

/* line 197, D:/xampp/htdocs/Foodies/scss/styles.scss */
.feature-img {
  /* background-color: red; */
  width: 50%;
}

/* MENU SECTION */
/* line 206, D:/xampp/htdocs/Foodies/scss/styles.scss */
.rows {
  display: flex;
  /* flex-direction: column;  OVO IDE U MEDIA Q*/
}

/* line 210, D:/xampp/htdocs/Foodies/scss/styles.scss */
.carousel-img {
  max-height: 50%;
  border-radius: 30px 30px 0 0;
  width: 100%;
  object-fit: cover;
}

/* line 219, D:/xampp/htdocs/Foodies/scss/styles.scss */
.carousel-box {
  transition: 0.3s;
  border-radius: 30px;
  margin: 2%;
}

/* line 225, D:/xampp/htdocs/Foodies/scss/styles.scss */
.carousel-box h3, .carousel-box .btn-yellow, .carousel-box .ratings {
  margin-top: 25px;
}

/* line 232, D:/xampp/htdocs/Foodies/scss/styles.scss */
.carousel-box:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

/* line 235, D:/xampp/htdocs/Foodies/scss/styles.scss */
.fas {
  color: #FF9D02;
}

/* line 238, D:/xampp/htdocs/Foodies/scss/styles.scss */
#cart-num {
  display: inline-block;
}

/* line 243, D:/xampp/htdocs/Foodies/scss/styles.scss */
#about-us .about-img {
  width: 100%;
}

/* line 246, D:/xampp/htdocs/Foodies/scss/styles.scss */
#about-us #more-txt {
  display: none;
}

/* line 249, D:/xampp/htdocs/Foodies/scss/styles.scss */
#about-us h3 {
  margin: 70px 0 30px 0;
}

/* line 252, D:/xampp/htdocs/Foodies/scss/styles.scss */
#about-us p {
  margin-bottom: 50px;
}

/* line 258, D:/xampp/htdocs/Foodies/scss/styles.scss */
footer {
  display: flex;
  justify-content: space-around;
  padding: 10px;
  align-items: center;
  background-color: #fdb435;
  opacity: 0.9;
}

/* line 266, D:/xampp/htdocs/Foodies/scss/styles.scss */
footer h5 {
  color: #232323;
  font-size: 1.2rem;
  font-weight: 500;
}

/* line 271, D:/xampp/htdocs/Foodies/scss/styles.scss */
footer b {
  font-weight: 300;
}

/* line 275, D:/xampp/htdocs/Foodies/scss/styles.scss */
footer a:hover {
  color: white;
}

/* line 278, D:/xampp/htdocs/Foodies/scss/styles.scss */
footer .logofooter {
  font-size: 1.5rem;
  color: white;
}

/* line 283, D:/xampp/htdocs/Foodies/scss/styles.scss */
footer ul b {
  padding: 20px;
}

/* line 288, D:/xampp/htdocs/Foodies/scss/styles.scss */
.container-fluid {
  padding: 3% 7%;
}

/* line 293, D:/xampp/htdocs/Foodies/scss/styles.scss */
mark {
  color: #FF9D02;
  background-color: transparent;
}

/* line 297, D:/xampp/htdocs/Foodies/scss/styles.scss */
#sandwich {
  display: none;
}

@media screen and (max-width: 1095px) {
  /* line 303, D:/xampp/htdocs/Foodies/scss/styles.scss */
  header ul {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: flex-end; */
    padding: 0;
    display: none;
  }
  /* line 313, D:/xampp/htdocs/Foodies/scss/styles.scss */
  #sandwich {
    display: inline-block;
  }
  /* line 316, D:/xampp/htdocs/Foodies/scss/styles.scss */
  .rows {
    display: flex;
    flex-direction: column;
  }
  /* line 320, D:/xampp/htdocs/Foodies/scss/styles.scss */
  p {
    width: 100%;
  }
  /* line 323, D:/xampp/htdocs/Foodies/scss/styles.scss */
  .feature-img {
    width: 80%;
  }
  /* line 326, D:/xampp/htdocs/Foodies/scss/styles.scss */
  .title-row {
    flex-direction: column;
    width: 100%;
  }
  /* line 330, D:/xampp/htdocs/Foodies/scss/styles.scss */
  .title-image {
    margin-left: 0;
    width: 100%;
  }
}

/*# sourceMappingURL=styles.css.map */